name: Go package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.0
          cache: true

      - name: Install dependencies
        run: go get .

      - name: Install osv-scanner
        run: go install github.com/google/osv-scanner/cmd/osv-scanner@v1

      - name: Install gosec
        run: wget -O - -q https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.14.0

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
