name: Build and Test on pull request

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@main
        with:
          repository: grafana/plugin-validator-cli
          context: .
          tags: |-
            "test-pr"
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
