name: Build and Test on pull request

on:
  pull_request:
    branches:
      - main
      - renovate/*

jobs:
  test-mcp-server:
    runs-on: ubuntu-x64
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod

      - name: Run MCP server tests
        run: go test -v ./pkg/cmd/mcpserver/...

  test-docker-build:
    runs-on: ubuntu-x64
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@f02d5da7ddff4ea32bbe5034c7c70e90d2b9622c # build-push-to-dockerhub/v0.4.1
        with:
          repository: grafana/plugin-validator-cli
          context: .
          tags: |-
            "test-pr"
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
