name: Build and Test on pull request

on:
  pull_request:
    branches:
      - main

jobs:
  test-docker-build:
    runs-on: ubuntu-x64
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@f02d5da7ddff4ea32bbe5034c7c70e90d2b9622c # build-push-to-dockerhub/v0.4.1
        with:
          repository: grafana/plugin-validator-cli
          context: .
          tags: |-
            "test-pr"
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
