name: Build and Test on pull request

on:
  pull_request:
    branches:
      - main

jobs:
  test-docker-build:
    runs-on: ubuntu-x64
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@74b7ce2ebd577c25266d972683e376d9f62d0b07 # build-push-to-dockerhub/v0.4.0
        with:
          repository: grafana/plugin-validator-cli
          context: .
          tags: |-
            "test-pr"
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
